{% extends "layout.html" %}

{% block content %}
    <h5>신호 체계 </h5>
    <hr/>
    <table>
        <tr>
            <td>
                <img id="streaming" src="" width="640" height="640" visibility='hidden'>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <img id='traffic' src="{{ url_for('static', path='src/img/gray.jpg')}}">
                        </td>
                        <td>
                            <input class="time_input" type="text" id="red_time" size="1" value="15">
                            <input class="time_input" type="text" id="green_time" size="1" value="10">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="left_time" style="color:black;"></p>
                        </td>
                        <td>
                            <button id="set_red" class="btn btn-primary">빨</button>
                        </td>
                        <td>
                            <button id="set_green" class="btn btn-primary">초</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <button id="btn_stream" class="btn btn-primary">stream start</button>
            </td>
            <td>
                <div id="logs">
                </div>
            </td>
        </tr>
    </table>

    <!-- video upload TODO -->
    <form method="post" action="" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="file_list" class="form-label">Upload Videos</label>
        <input class="form-control w-auto" type="file" name="file_list" id="file_list" multiple>
      </div>
    <!--
      <div class="mb-3">
        <div class="form-group">
          <label>Select YOLO Model</label>
        </div>
        <select class="form-select w-auto" name="model_name">
          {% for selection in model_selection_options %}
            <option value="{{ selection }}">{{ selection }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="img_size_input" class="form-label">Model Inference Size</label>
        <input type="text" class="form-control w-auto" id="img_size_input" name="img_size" value="640">
      </div>
    -->
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>

{% endblock %}